server:
  port: 8101
  servlet:
    context-path: /user-management

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/auth/realms/poker_backend/protocol/openid-connect/certs
      client:
        registration:
          keycloak:
            client-id: user-management
            client-secret: 2ef5d124-4eac-4b7e-be14-cf9652953ae7
            authorization-grant-type: client_credentials
        provider:
          keycloak:
            authorization-uri: http://localhost:8080/auth/realms/poker_backend/protocol/openid-connect/auth
            token-uri: http://localhost:8080/auth/realms/poker_backend/protocol/openid-connect/token
            user-info-uri: http://localhost:8080/auth/realms/poker_backend/protocol/openid-connect/userinfo
            user-name-attribute: sub
            jwk-set-uri: http://localhost:8080/auth/realms/poker_backend/protocol/openid-connect/certs
  datasource:
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 30
      idle-timeout: 6000011
      minimum-idle: 10
      pool-name: UserManagementDatabasePool
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/deck_management
    username: user_management
    password: user_management
  jpa:
    hibernate:
      ddl-auto: validate

keycloak:
  url: http://localhost:8080/auth/admin/realms/poker_backend/
  connectionPoolMaxSize: 5
  connectionConnectTimeoutSec: 5
  connectionReadTimeoutSec: 5
  idleTimeoutSec: 15

logging:
  level:
    org.springframework.web.reactive.function.client.ExchangeFunctions: TRACE
    reactor.netty.http.client: DEBUG

