version: '3.1'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper
    container_name: zookeeper
    restart: unless-stopped
    networks:
      - poker-backend
    ports:
      - 2181:2181
    tmpfs: "/datalog"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
  kafka-1: &kafka
    image: confluentinc/cp-kafka
    container_name: kafka-1
    depends_on:
      - zookeeper
    volumes:
      - kafka-1:/var/lib/kafka/data
    networks:
      - poker-backend
    ports:
      - 29092:29092
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-1:29092
  kafka-2:
    image: confluentinc/cp-kafka
    container_name: kafka-2
    depends_on:
      - "zookeeper"
    volumes:
      - kafka-2:/var/lib/kafka/data
    networks:
      - poker-backend
    ports:
      - 29093:29093
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_BROKER_ID: 2
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-2:29093
  kafka-3:
    <<: *kafka
    container_name: kafka-3
    volumes:
      - kafka-3:/var/lib/kafka/data
    ports:
      - 29094:29094
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_BROKER_ID: 3
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-3:29094
#  postgres:
#    image: postgres
#    container_name: postgres
#    restart: unless-stopped
#    volumes:
#      - postgres:/var/lib/postgresql/data
#      - ./postgres_init_scripts:/docker-entrypoint-initdb.d/
#    networks:
#      - poker-backend
#    ports:
#      - 5432:5432
#    environment:
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: postgres
#      POSTGRES_DB: postgres
#  keycloak:
#    image: jboss/keycloak
#    container_name: keycloak
#    restart: unless-stopped
#    networks:
#      - poker-backend
#    ports:
#      - 8080:8080
#      - 9990:9990
#    volumes:
#      - ./keycloak_imports:/opt/jboss/keycloak/imports
#    command:
#      - "-b 0.0.0.0 -Dkeycloak.import=/opt/jboss/keycloak/imports/realm-export.json"
#    environment:
#      KEYCLOAK_USER: admin
#      KEYCLOAK_PASSWORD: admin
#      DB_USER: keycloak
#      DB_PASSWORD: keycloak
#      DB_ADDR: postgres
#    depends_on:
#      - "postgres"
networks:
  poker-backend:
volumes:
  postgres:
  zookeper-logs:
  zookeper-data:
  kafka-1:
  kafka-2:
  kafka-3: