version: '3.1'

services:
  postgres:
    image: postgres
    container_name: postgres
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./postgres_init_scripts:/docker-entrypoint-initdb.d/
    networks:
      - poker-backend
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
  keycloak:
    image: jboss/keycloak
    container_name: keycloak
    restart: unless-stopped
    networks:
      - poker-backend
    ports:
      - 8080:8080
      - 9990:9990
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      DB_USER: keycloak
      DB_PASSWORD: keycloak
      DB_ADDR: postgres
    depends_on:
      - "postgres"
networks:
  poker-backend:
volumes:
  postgres: